<p id="notice"><%= notice %></p>

<p>
  <strong>Subj:</strong>
  <%= @poi.subj %>
</p>

<p>
  <strong>Instruc:</strong>
  <%= @poi.instruc %>
</p>

<p>
  <strong>Tm:</strong>
  <%= @poi.tm %>
</p>

<p>
  <strong>Rm:</strong>
  <%= @poi.rm %>
</p>

<%= link_to 'Edit', edit_poi_path(@poi) %> |
<%= link_to 'Back', pois_path %>
